@charset "utf-8";
/*字体大小*/
.f12{ font-size:12px;}
.f14{ font-size:14px;}
.f16{ font-size:16px;}
.f18{ font-size:18px;}
.f20{ font-size:20px;}
.f22{ font-size:22px;}
.f24{ font-size:24px;}
.f26{ font-size:26px;}
.f28{ font-size:28px;}
.f30{ font-size:30px;}
.f32{ font-size:32px;}
.f34{ font-size:34px;}
.f40{ font-size:40px;}

/*间距*/
.mt2{ margin-top:2px;}
.mt3{ margin-top:3px;}
.mt4{ margin-top:4px;}
.mt5{ margin-top:5px;}
.mt6{ margin-top:6px;}
.mt7{ margin-top:7px;}
.mt8{ margin-top:8px;}
.mt9{ margin-top:9px;}
.mt10{ margin-top:10px;}
.mt12{ margin-top:12px;}
.mt14{ margin-top:14px;}
.mt15{ margin-top:15px;}
.mt16{ margin-top:16px;}
.mt18{ margin-top:18px;}
.mt20{ margin-top:20px;}
.mt25{ margin-top:25px;}
.mt30{ margin-top:30px;}
.mt35{ margin-top:35px;}
.mt40{ margin-top:40px;}
.mt45{ margin-top:45px;}
.mt50{ margin-top:50px;}
.mt80{ margin-top:80px;}
.mt100{ margin-top:100px;}

.ml2{ margin-left:2px;}
.ml3{ margin-left:3px;}
.ml4{ margin-left:4px;}
.ml5{ margin-left:5px;}
.ml6{ margin-left:6px;}
.ml7{ margin-left:7px;}
.ml8{ margin-left:8px;}
.ml9{ margin-left:9px;}
.ml10{ margin-left:10px;}
.ml12{ margin-left:12px;}
.ml14{ margin-left:14px;}
.ml15{ margin-left:15px;}
.ml16{ margin-left:16px;}
.ml18{ margin-left:18px;}
.ml20{ margin-left:20px;}
.ml25{ margin-left:25px;}
.ml30{ margin-left:30px;}
.ml35{ margin-left:35px;}
.ml40{ margin-left:40px;}
.ml45{ margin-left:45px;}
.ml50{ margin-left:50px;}

.mr2{ margin-right:2px;}
.mr3{ margin-right:3px;}
.mr4{ margin-right:4px;}
.mr5{ margin-right:5px;}
.mr6{ margin-right:6px;}
.mr7{ margin-right:7px;}
.mr8{ margin-right:8px;}
.mr9{ margin-right:9px;}
.mr10{ margin-right:10px;}
.mr12{ margin-right:12px;}
.mr14{ margin-right:14px;}
.mr15{ margin-right:15px;}
.mr16{ margin-right:16px;}
.mr18{ margin-right:18px;}
.mr20{ margin-right:20px;}
.mr25{ margin-right:25px;}
.mr30{ margin-right:30px;}
.mr35{ margin-right:35px;}
.mr40{ margin-right:40px;}
.mr45{ margin-right:45px;}
.mr50{ margin-right:50px;}

.mb2{ margin-bottom:2px;}
.mb3{ margin-bottom:3px;}
.mb4{ margin-bottom:4px;}
.mb5{ margin-bottom:5px;}
.mb6{ margin-bottom:6px;}
.mb7{ margin-bottom:7px;}
.mb8{ margin-bottom:8px;}
.mb9{ margin-bottom:9px;}
.mb10{ margin-bottom:10px;}
.mb12{ margin-bottom:12px;}
.mb14{ margin-bottom:14px;}
.mb15{ margin-bottom:15px;}
.mb16{ margin-bottom:16px;}
.mb18{ margin-bottom:18px;}
.mb20{ margin-bottom:20px;}
.mb25{ margin-bottom:25px;}
.mb30{ margin-bottom:30px;}
.mb35{ margin-bottom:35px;}
.mb40{ margin-bottom:40px;}
.mb45{ margin-bottom:45px;}

.m0{margin:0px;}
.m5{margin:5px;}
.m10{margin:10px;}
.m15{margin:15px;}
.m20{margin:20px;}
.m25{margin:25px;}
.m30{margin:30px;}
.m35{margin:35px;}
.m40{margin:40px;}
.m50{margin:50px;}

.p0{padding:0px;}
.p5{padding:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding:20px;}
.p25{padding:25px;}
.p30{padding:30px;}
.p35{padding:35px;}
.p40{padding:40px;}
.p50{padding:50px;}

/*宽度*/
.w100{width:100%}
.w90{width:90%}
.w80{width:80%}
.w70{width:70%}
.w60{width:60%}
.w500{width:50%}
.w40{width:40%}
.w30{width:30%}
.w20{width:20%}
.w10{width:10%}


.w100px{width:100px!important;}
.w130px{width:130px!important;}
.w150px{width:150px!important;}
.w200px{width:200px!important;}
.w250px{width:250px!important;}
.w300px{width:300px!important;}
.w400px{width:400px!important;}
.w500px{width:500px!important;}
.w600px{width:600px!important;}
.w700px{width:700px!important;}
.w800px{width:800px!important;}
.w900px{width:900px!important;}
.w1000px{width:1000px!important;}
.w160px{width:160px!important;}
.w180px{width:180px!important;}
.w220px{width:220px!important;}


.radius5{border-radius:5px;}
.radius10{border-radius:10px;}
.radius15{border-radius:15px;}
.radius20{border-radius:20px;}
.radius25{border-radius:25px;}
.radius30{border-radius:30px;}
.radius35{border-radius:35px;}
.radius40{border-radius:40px;}


.clear{clear:both;display:block;overflow:hidden;height:0;line-height:0;font-size:0;}
.block{display:block!important; display:block ; }
.iblock{display:inline-block!important; display:inline-block ; }
.inline{display:inline!important; display:inline ; }
.hide{display:none!important; display:none ; }
.rela{position:relative;}
.abso{ position:absolute ;}
.fl{float:left;}
.fr{float:right;}
.tc{ text-align:center;}
.tl{ text-align:left ;}
.tr{ text-align:right ;}
.z-10{z-index:10;}
.z-20{z-index:20;}
.z-30{z-index:30;}

.hover-bai:hover{color:#fff}
.hover-hei:hover{color:#000}
.bg-hover-bai:hover{background-color:#fff}
.bg-hover-hei:hover{background-color:#000}
.mauto{margin: 0 auto ;}
.fw{font-weight:700;}
.hid{overflow:hidden;}
input,textarea{
    resize:none ;
}
.fontnum{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.clear{
    width:0px;
    height: 0px;
    overflow: hidden;
    display: block;
    clear: both;
}

.header-fixed .header{
    position: absolute;
    top:0;
    left:0;
    z-index:100;
    background:none;
}
.header-fixed #icrollBox{
    top:0px;
}

*{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body,html{
    font-size:14px;
    min-height:100%;
    height:100%;
    color:#000;
    background:#F0F0F0;
}
a,input,textarea,select {
    text-decoration:none;
    outline:0;
    -webkit-tap-highlight-color:rgba(0,0,0,0)
}
input , textarea{
    padding:5px;
    font-size:13px;
}
button{
    border:none;
}
ul,ol{
    list-style: none;
}
.word{
    max-width:640px;
    margin:0 auto ;
    height:100%;
}

.row:before , .row:after{
    clear:both;
    height:0;
    overflow:hidden;
    width:0;
    content:"";
    display: block;
}


.icon-menu{
    width:20px;
    height:20px;
}

/*iscroll 布局*/
.hasFooter #icrollBox{
    margin-bottom:45px;
}
a{
    color:#999;
}
a:hover , a:active{
    color:#4ba0e5;
}

/*footer*/
.footer{
    width:100%;
    display: block;
    position: fixed;
    bottom:0;
    left:0;
    z-index:1000;
    height:45px;
    background:#f2f2f2;
    border-top:1px solid #ccc;

    height:0px;
}
.footer > a{
    display: block;
    width:33.33%;
    text-align: center;
    border:none;
    color:#333;
    float:left;
    padding-top:7px;
    z-index:1001;
}
.footer > a.on{
    color:#4ba0e5;
}
.footer > a > b{
    display: block;
    font-size: 14px;
}
.footer > a > span{
    font-size: 12px;
}

.comPadd{
    padding:10px;
}

.signinBox  h1{
    font-size:16px;
    text-align:center;
}
.formList{
    display:block;
    height:40px;
    border:1px solid #ccc;
    margin-top:15px;
    border-radius:5px;
    overflow:hidden;
}
.formList input{
    height:100%;
    font-size:14px;
    padding:5px;
    width:100%;
}
.leftAbsoList{
    position:relative;
    padding-left:40px;
}
.leftAbsoList > b{
    display:block;
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    background:#fff;
}
.leftAbsoList > input{
    border-left:1px solid #ccc;
}
.noFormList{
    border:none ;
}
.btn{
    display:block;
    padding:10px 0;
    text-align:center;
    color:#fff;
    background:#4ba0e5;
    margin:0 auto ;
    cursor:pointer;
    border-radius:5px;
}
.btn-45{
    width:45%;
}
.signinFooterInfo{
    text-align:center;
    width:100%;
    height:45px;
}
.signinFooterInfo h3{
    color:#4ba0e5;
    font-size:16px;
}
.signinFooterInfo p{
    color:#999;
}
.signinForm a{
    color:#000;
}
/*loading*/
.LoadingBigBox{
    width:100%;
    height:100%;
    overflow:hidden;
    position:fixed;
    left:0;
    top:0;
    z-index:10000;
    background-color:rgba(0,0,0,0.4);
}
.loadingBox{
    top:50%;
    left:50%;
    width:85px;
    height:85px;
    margin:-42px 0 0 -42px;
    z-index:10001;
    overflow:hidden;
    background-color:rgba(0,0,0,0.6);
    border-radius:1em;
    position:fixed;
}
.loadingBox > .tc b{
    color:#fff;
    font-size: 20px;
}
.loadingBox > .tc{
    margin: 15px 0 10px 0;
}
.loadingBox span{
    color:#fff;
    font-size:14px;
    position:relative;
    display:block;
    text-align:center;
}

/*alertBox*/
.alertBox .loadingBox{
    width:120px;
    height:50px;
    border-radius:10px;
    overflow:hidden;
    line-height:50px;
    margin: -25px 0 0 -60px;
    background:#fff;
    -moz-transform:scale(3,3);
    -webkit-transform:scale(3,3);
    -ms-transform:scale(3,3);
    -o-transform:scale(3,3);
    transform:scale(3,3);
    opacity:0;
}
.alertBox .loadingBox span{
    color:#333;
}

/*弹出层*/
.w-dialog{
    display:block;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:20;
    background-color:rgba(0,0,0,0.4);
    display:none;
}
.w-dialog-content{
    display:block;
    width:300px;
    height:160px;
    position:fixed;
    top:50%;
    left:50%;
    z-index:21;
    margin:-80px 0 0 -150px;
    background:#fff;
    box-shadow:0px 0px 15px #000;
}
.w-dialog-content .w-dialog-header{
    height:40px;
    line-height:40px;
    border-bottom:1px solid #ccc;
    position:relative;
}
.w-dialog-content .w-dialog-header h1{
    font-size:16px;
    text-align:center;
    margin-bottom: 0;
    height:40px;
    line-height: 40px;
}
.w-dialog-content .w-dialog-header > b{
    position:absolute;
    right:0px;
    top:0px;
    font-size:16px;
    z-index:22;
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    cursor:pointer;
}
.w-dialog-content .w-dialog-footer{
    height:40px;
    border-top:1px solid #ccc;
    overflow:hidden;
    padding: 0;
}
.w-dialog-content .w-dialog-footer > a{
    display:block;
    width:50%;
    float:left;
    height:40px;
    line-height:40px;
    color:#0079ff;
    text-align:center;
}
.w-dialog-content .w-dialog-footer > a:first-child{
    border-right:1px solid #ccc;
}
.w-dialog-content .w-dialog-body{
    padding:10px;
    overflow:auto ;
}
/*动画*/
.alertBox .scaleAniamte{
    -moz-transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -ms-transform:scale(1,1);
    -o-transform:scale(1,1);
    transform:scale(1,1);
    opacity:1;
}
.tran_1{
    -webkit-transition:all .1s linear ;
    -moz-transition:all .1s linear ;
    -ms-transition:all .1s linear ;
    -o-transition:all .1s linear ;
    transition:all .1s linear ;
}
.tran_2{
    -webkit-transition:all .2s linear ;
    -moz-transition:all .2s linear ;
    -ms-transition:all .2s linear ;
    -o-transition:all .2s linear ;
    transition:all .2s linear ;
}

.forgetPassBox input{
    width:100%;
    border:1px solid #ccc;
    margin-bottom:15px;
}

/*首页*/
.logoBox img{
    display:block;
    width:100%;
}
.indexInfoBox{
    font-size:14px;
    text-align:center;
    padding:8px 0;
    color:#000;
}
.list_one{
    display:block;
}
.list_one li{
    height:40px;
    line-height:40px;
    background:url("../../img/www/01_jiantou_you@2x.png") no-repeat 97% center #fff;
    background-size:8px auto ;
}
.list_one li .listCon{
    color:#000;
    display:block;
    margin:0 10px;
    height:39px;
    border-bottom:1px solid #ccc;
}
.list_one li:last-child .listCon{
    border-bottom:none ;
}
.list_one li:active,.list_one li:hover{
    background-color:#e6e6e6!important;
}
.userBind{
    background:#fff;
}
.userBind > a{
    display:block;
    width:50%;
    padding:10px 0;
    text-align:center;
    float:left;
    font-size:12px;
}
.userBind > a > b{
    font-size:18px;
    margin-right:5px;
}
.userBind > a > b.icon-tablet{
    position:relative;
    top:2px;
}
.deliveryList{
    border-radius:7px;
    border:1px solid #ccc;
    margin-bottom:0;
    background:#fff;
    padding:5px;
    font-size:12px;
    box-shadow:2px 2px 3px #ccc;
    color:#000;
}
.deliveryList .row p , .deliveryList .name{
    font-weight: 700;
    color:#000;
}
.deliveryList .row p span , .deliveryList .name span , .deliveryList .title{
    font-weight: 500;
    color:#000;
}
.deliveryList .row a , .deliveryList .row a:hover{
    color:#000;
}
.deliveryList .de_50{
    display:inline-block;
    width:50%;
}
.deliveryList .de_68{
	display:inline-block;
    width:68%;
}
.deliveryList .de_32{
	display:inline-block;
    width:32%;
}
.deliveryList:hover , .deliveryList{
    color:#000;
}
.dateIptBox{
    position:relative;
}
.dateIptBox input{
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    z-index:15;
    top:0;
    left:0;
    opacity:1;
    padding:0;
    margin: 0;
    background:none;
    padding-left:60px;
    color:#000;
}
.one-ipt{
    width:100%;
    border:1px solid #ccc;
}
.font-success{color:#5cb85c;}
.font-error{color:#d9534f;}
.one-area{
    width:100%;
    min-height:55px;
    border:1px solid #ccc;
}
.bindKcBox input{
    width:227px
}
.bindKcBox{
    color:#797979;
}
.forecastForm .flist{
    margin-bottom:10px;
}
.forecastForm .flist span{
    width:70px;
    margin-top:6px;
}
.forecastForm .flist span , .forecastForm .flist input{
    float:left;
}
.forecastForm input{
    border:1px solid #ccc;
    margin-left:10px;
    width:197px;
}
.expMail {
    display:block;
    margin:10px 10%;
}
.expMail:hover{
    color:#fff;
}
.userTitle{
    background:#fff;
    margin-top:15px;
    padding:15px 10px;
}
.userList{
    background:#fff;
    padding:10px;
    margin-top:15px;
}
.userList > b{
    font-size:30px;
    color:#4ba0e5;
    width:35px;
    text-align:center;
}
.userList > span{
    margin-left:15px;
    margin-top:7px;
}
.userList > a{
    color:#666;
    font-size:14px;
    margin-top:8px;
}
.userList .icon-tablet{
    margin-top:2px;
}
.verifyIpt{
    border:1px solid #ccc;
    float:left;
    width:90px;
}
.verifyBtn{
    float:left;
    display:inline;
    padding:5px;
    margin-left:15px;
    font-size:12px;
    margin-top:1px;
}
.verifyBtn:hover{
    color:#fff;
}
.editPhoneForm p{
    color: #797979;
    font-size: 12px;
}
.verifyFalse{
    background:#999;
    color:#fff;
}
.addPhoneForm .phone{
    width:250px;
    border:1px solid #ccc;
    margin-right:10px;
}

.editPasswordForm .flist span{
    width:90px;
    text-align:right ;
}
.editPasswordForm .flist input{
    width:170px;
}
.deliveryTools{
    margin:10px auto ;
    text-align: center;
}
.deliveryTools .btn{
    width:70px;
    margin:0 5px;
    display:inline-block;
    padding:7px 0 ;
}
/*按钮*/
.btn-danger{background:#d9534f;color:#fff;}
.btn-success{background: #5cb85c; color:#fff;}
.btn:hover , .btn:active{ background: #3c91d6; }
.btn-danger:hover , .btn-danger:active{background:#d9534f;}
.btn-success:hover , .btn-success:active{background: #4da94d;}
.searchForm{
    padding:20px 15px;
}
.searchForm h3{
    color:#6b6b6b;
    margin-bottom: 5px;
}
.searchForm .btn{
    padding:6px 20px;
    display: inline;
}
.searchForm .searchIpt{
    border:1px solid #ccc;
}
.xlMore{
    margin-left:10px;
    position: relative;
    top:-2px;
}
.showBzText{
    cursor: pointer;
}
.bzViewBox{
    border:1px solid #ccc;
    padding: 2px 10px;
    min-height:50px;
    display: none;
}
.showBzText .icon-sort-up{
    top:3px;
}
.chartUl{
    border:1px solid #ccc;
    border-top:0;
    border-left: 0;
    display: block!important;
    padding: 0;
}
.chartUl li{
    float: left;
    width:25%;
}
.chartUl li:last-child{
    border-left:1px solid #ccc;
}
body .deliveryList .chartUl li p{
    text-align: center;
    height:30px;
    line-height:30px;
    color:#000;
    font-size: 13px;
    font-weight: 500;
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;
    background: #F2F2F2;
    position: relative;
    margin:0;
}
body .deliveryList .chartUl li p .dateIpt{
    position: absolute;
    z-index:10;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity: 0;
}
.w100{
    width:100%;
}
body .deliveryList .chartUl li.on p{
    background: #9CCD9C;
}
body .deliveryList .chartUl li.on .title , body .deliveryList .chartUl li .title{
    font-weight: 700;
    background: #fff;
}
.createListForm .radioDiv input{
    width:auto;
    float: none;
}
.createListForm .radioDiv label{
    margin-right:13px;
}

.createListForm select{
    float:left;
    width:197px;
    margin-left:10px;
    border:1px solid #ccc;
    height:30px ;
}
select option{
    padding:4px 2px;
}
.searchFormClearance label{
    margin-right: 5px;
}
.clearanceBz{
    padding:10px 5px;
    background:#F2F2F2;
    border:1px solid #ddd;
}
.deliveryBox{
    overflow:hidden;
}
.backBtnDiv{
    width:90%;
    margin:5px auto;
}
.backBtnDiv a:hover{
    color:#fff;
}


.loginToggle{
    padding:0;
    position: relative;
}
.item-toggle{
	pointer-events: auto!important;
}
.loginToggle .findPassword{
	position: absolute;
	top:10px;
	left:10px;
	display: block;
	width:50px;
	height:25px;
	line-height: 25px;
	z-index:100;
	cursor:pointer;
	font-size:10px;
}
.loginToggle .item-toggle{
    width:100%;
    border:none;
}
.loginListBox .item{
    padding-left: 8px;
}
.loginListBox .item input[type=text]{
    margin-left: 5px;
}

.footerBox > h3 {
    display: block;
    font-size: 12px;
    color:#fff;
    text-align: center;
    float: none;
    width: 100%;
}
.footerBox > h3 > p{
    margin-top:2px;
}
.clearanceBz{
    width:100%;
    margin-top:2px;
}
.bottomTabs .icon{
    font-size: 14px;
    height:20px;
    line-height: 20px;
    margin-top:8px;
}
.icon-bar-chart-off{
    color: #333333!important;
}
.bottomTabs .tab-title{
    font-size: 14px;
}
.dateIpt{
    cursor: default!important;
}
.deliveryList {
    margin-bottom: 10px;
}

.deliveryList .row > p , .deliveryList .row > p > a{
    display: block;
    height:28px;
    line-height: 25px;
    margin-bottom: 0;
}
.editBzClearBox{
    width:80%;
    margin:0px auto;
    height:60px;
    padding-top:13px;
}
.editBzClearBox a , .editBzClearBox:hover{
    color:#fff!important;
}
.deliveryList .row p span{
    font-size: 12px;
}

#selectYear , #selectMonth{
    width:70px;
}

.titleInfo p , .titleInfo .title{
    margin: 0;
    text-align: center;
}
.titleInfo .title{
    margin-top:15px;
}
#issue{
	min-height:90px;
}
.tabs{
	background: #ececec;
}
.fl{float:left;}
.fr{float:right}
.loginToggle{
	padding:8px;
	border:1px solid #DDDDDD;
	height:48px;
}

.findPasswordForm .row > span{
	width:65px;
	text-align:right;
	display:inline-block;
	float: none;
}
.findPasswordForm .row > input{
	width:142px;
	float: none;
}
